<section class="section">  
    <div class="container"> 
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <span>
                        <h4>Author: {{postinfo.User.username}}</h4>
                        <img src="{{postinfo.User.userImage}}" alt="User Image">
                    </span>
                </div>
            </div>
            <div class="level-item">
                <span>
                    <h1>Title: {{postinfo.title}}</h1>
                    <h4>Post Type: {{postinfo.posttype}}</h4>
                    <p>{{postinfo.content}}</p>
                </span>
            </div>
        </div>
    </div>
</section>
<h1>COMMENTS</h1>
<ul>
    {{#each postinfo.Comments}}
        <li>
            <p>{{this.createdBy}}</p>
            <img src="{{this.createdByImg}}" alt="Comment User Image">
            <p>{{this.content}}</p>
        </li>
    {{/each}}
</ul>
{{#if user}}
<form action="/api/comments" method="POST">
    <div class="field">Commenting as: {{user.username}}</div>
    <div class="field">
        <label class='label'for="comment-title">What's the comment title?</label>
        <div class="control">
            <input type="text" name="title">
        </div>
    </div>
    <div class="field">
        <label class="label" for='comment'>What's your comment?</label>
        <div class="control">
            <textarea name="content" id="comment" cols="30" rows="10" placeholder="Place your comment here"></textarea>
        </div>
    </div>
    <div class="field" style="display:none">
        <label class="label">Post Id</label>
        <div class="control">
            <div class="select">
                <select name="postid">
                    <option>{{postinfo.id}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
{{else}}
<div>
    <p>Log in to comment on this post!</p>
</div>
{{/if}}