
{{> navbar }}

<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome to the post page{{#if user}} {{user.username}}!{{else}}!{{/if}}
                </h1>
                <h2 class="subtitle">
                    Select a filter below if you would like.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns">
        <div class="column">
            <a href="/postlist" class="button is-primary">All Posts</a>
        </div>
        <div class="column">
            <a href="/postlist/code snippet" class="button is-primary">Code Snippets</a>
        </div>
        <div class="column">
            <a href="/postlist/observation"class="button is-primary">Observations</a>
        </div>
        <div class="column">
            <a href="/postlist/question" class="button is-primary">Questions</a>
        </div>
    </div>
    
    <section class="postlist">
        {{#each post}}
        <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
            <a href="/user/{{this.User.username}}"><img src="{{this.User.userImage}}"></a>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
            <p class="has-text-black">
                <strong>{{this.User.username}}</strong> <small>{{this.posttype}}</small> <small>{{this.createdAt}}</small> 
                <br>
                <a href="/postview/{{this.id}}" class="is-link">{{this.title}}</a>
            </p>
            </div>
        </div>
        <figure class="media-right">
            <p>
                <strong>Comments:</strong> {{length this.Comments}}
            </p>
        </figure>
        </article>
        <hr>
        {{/each}}
    </section>
</div>