

      {{> navbar}}
        
        <section class="hero is-primary">
          <div class="hero-body">
            <span>
              <p class="title">
                Hello {{user.username}}!
              </p>
              <p class="subtitle">
                Welcome to Bootcamp_Overflow! 
              </p>
            </span>
            <span>
              <button> Edit Page </button>
            </span>
          </div>
        </section>
<br>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                {{!-- We would like to add a ranking mechanism at some point --}}
                <p class="title">Avatar<p>
                <p class="subtitle">{{user.firstName}} {{user.lastName}}</p>
                <figure class="image is-128x128">
                  <img src='{{user.userImage}}'>
                </figure>
                <p class="subtitle"> Created on: {{user.createdAt}}</p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Career Aspirations</p>
                <p class="subtitle">{{user.career}}</p>
                <p class="title">Experience</p>
                <p class="subtitle">{{user.resume}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">Bio</p>
                <p class="subtitle">{{user.bio}}</p>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Areas of proficiency</p>
              <p class="subtitle">{{user.desiredLearning}}</p>
              <div class="content">
                <!-- Content handlebars -->
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Most recent posts</p>
              <p class="subtitle">Insert creative subtitle</p>
              <div class="content">
                <ul>
                {{#each post}}
                  <li>
                    <p>{{this.title}}</p>
                  </li>
                {{/each}}
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>

